<div class="--left-menu --narrow"> 
  <a href="<%= mini_js_root_path %>" class="anchor-link block <%= 'active' if current_page?(mini_js_root_path) %>">
    <span class="underlined-link">
      About Mini
    </span>
  </a>
  <a href="<%= mini_js_reference_path %>" class="anchor-link block <%= 'active' if current_page?(mini_js_reference_path) %>"> 
    <span class="underlined-link">
      Reference
    </span>
  </a>
  <a href="<%= mini_js_examples_path %>" class="anchor-link block <%= 'active' if current_page?(mini_js_examples_path) %>">
    <span class="underlined-link">
      Examples
    </span>
  </a>
</div>